<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add-student" th:text="#{add}"></a>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th th:text="#{name}"></th>
        <th th:text="#{age}"></th>
        <th th:text="#{classroom}"></th>
        <th th:text="#{action}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${student}">
        <td scope="row" th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.age}"></td>
        <td th:text="${item.classRoom.classRoomName}"></td>
        <td><a th:href="@{/edit-student/{id}(id=${item.id})}" th:text="#{edit}"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>